::ng-deep .mat-dialog-container {
  height: 95vh;
  width: 95vw;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 100px;
}  
  
.form {
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  margin-top: 10px;
}

.header {
  background-color: var(--auxiliary-color-transparent);
  padding: 5px;
}

.text {
  margin: 20px;
}

.input-field {
  width: 100%;
}

.lang {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.save-button {
  float: right;
  margin: 15px;
  color: var(--text-inverse-color);
  background-color: var(--auxiliary-color);
  box-shadow: 2px 2px 2px 1px var(--secondary-color);
}

.save-button:disabled {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.button-wrapper {
  bottom: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--auxiliary-color) !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: var(--auxiliary-color) !important;
  color: var(--primary-color) !important;
}

::ng-deep .mat-select-arrow {
  color: var(--auxiliary-color) !important;
}

.delete-button {
  color: var(--auxiliary-color);
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.delete-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.add-button {
  background-color: var(--auxiliary-color);
  color: var(--primary-color);
}

.subheader {
  padding: 5px;
}

.subtext {
  margin: 20px;
}

.scroll-box {
  max-height: 500px;
  overflow: auto;
  padding: 5px;
  width: 98%;
  border: 0.5px solid var(--primary-color-transparent);
}

.desc-head {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90%;
}

.box {
  width: 50%;
}
