<div class="page">    
    <div class="container">
        <div class="body-top">
            <div class="body">
                <div class="button-container">
                    <button mat-raised-button class="button" (click)="start()">
                        <mat-icon>forward</mat-icon>
                        START
                    </button>
                    <div class="main-text">
                        <p class="text-title"> Automated Privacy Policy Generator </p>
                        <p class="text-body">
                            Automated Privacy Policy Generator for LPL Policies
                        </p>
                    </div>
                </div>
            </div>
            <div class="wrapper">
            </div>
        </div>

        <div class="body-middle">
            <div class="b-container">
                <button class="info" mat-mini-fab [disabled]=true>
                    Fulfil GDPR
                </button>
            </div>
            <div class="b-container">
                <button class="info" mat-mini-fab [disabled]=true>
                    Use LPP
                </button>
            </div> 
            <div class="b-container">
                <button class="info" mat-mini-fab [disabled]=true>
                    Save in XML
                </button>
            </div>
            <div class="b-container">
                <button class="info" mat-mini-fab [disabled]=true>
                    Save in Prolog
                </button>
            </div>
        </div>
    </div>
</div>    