::ng-deep .mat-dialog-container {
  height: 95vh;
  width: 95vw;
}
  
.form {
    background-color: var(--secondary-color);
    margin-bottom: 5px;
    margin-top: 10px;
}

.header {
    background-color: var(--auxiliary-color-transparent);
    padding: 5px;
    display: flex;
}

.text {
    margin: 20px;
}

.input-field {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--auxiliary-color) !important;
}
  
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: var(--auxiliary-color) !important;
}
  
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
  background-color: var(--auxiliary-color) !important;
  color: var(--primary-color) !important;
}

::ng-deep .mat-select-arrow {
  color: var(--auxiliary-color) !important;
}
  
.delete-button {
  color: var(--auxiliary-color);
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.delete-button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.add-button {
  background-color: var(--auxiliary-color);
  color: var(--primary-color);
}

.checkbox-wrapper {
  display: flex;
  justify-content: space-between;
}

.double-body {
  width: 49.8%;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--auxiliary-color) !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--auxiliary-color);
}

.entity-header {
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.entity-header:hover {
  background-color: var(--auxiliary-color-transparent);
}

.entity-text {
  margin: 15px;
}

.border {
  max-height: 400px;
  overflow: auto;
  border: 0.5px solid var(--primary-color-transparent);
  padding: 10px;
  margin-top: 10px;
}

.save-button {
  float: right;
  margin: 6px;
  color: var(--text-inverse-color);
  background-color: var(--auxiliary-color);
  box-shadow: 2px 2px 2px 1px var(--secondary-color);
}

.warn-button {
  float: right;
  margin: 6px;
  color: var(--text-inverse-color);
  background-color: var(--warning-color);
  box-shadow: 2px 2px 2px 1px var(--secondary-color);
}

.cancel-button {
  float: right;
  margin: 6px;
  color: var(--text-inverse-color);
  background-color: var(--secondary-color);
  box-shadow: 2px 2px 2px 1px var(--secondary-color);
}
  
.save-button:disabled {
  border: 1px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.button-wrapper {
  bottom: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.secondRow {
  padding-top: 20px;
}

.name-wrapper {
  padding-bottom: 10px;
}

.infoIc {
  vertical-align: middle;
  cursor: pointer;
  color: gray;
}

.infIcWrapper {
  display: flex;
  align-items: center;
}

.elv-header {
  font-size: 14px;
  background: var(--secondary-color);
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  outline: none;
  transition: 0.5s;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
}

.elv-header:after {
  content: '\02795';
  font-size: 12px;
  float: right;
  margin-right: 8px;
}

.elv-header-selected:after {
  content: '\02796';
  font-size: 12px;
  float: right;
  margin-right: 8px;
}

.elv-header:hover {
  background-color: var(--auxiliary-color-transparent);
}

.view {
  display: flex;
}

.support {
  float: right;
}

.support_icon {
  cursor: pointer;
  color: red;
  display: block;
  padding-left: 40px;
  padding-right: 40px;
}